.movie-details
    display: flex
    justify-content: space-around
    margin-top: 2rem
    .movie-info
        width: 50%
    .main-info
        margin: 1rem 0
    .fa-circle
        font-size: 0.3rem
        margin: 0 1rem
