html
    box-sizing: border-box

*,
*:before,
*:after
    box-sizing: inherit

body
    font-size: 14px
    line-height: 1.6
    font-size: 14px
    color: black
    -webkit-font-smoothing: antialiased
    -webkit-text-size-adjust: 100%
    font-family: 'Poppins'
    background: #140032; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #140032,#190056) /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#140032,#190056) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff

.container
    width: 100%
    max-width: 90%
    margin: 0 auto

a
    color: #fff
    text-decoration: none

section
    display: -webkit-box
